<nav id="mainNav" class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm">
    <div class="container px-5">
      <div class="collapse navbar-collapse">
        <%# <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a> %>
        <ul class="navbar-nav ms-auto me-5 my-3 my-lg-0">
          <li><a href="#home" class="nav-link px-2 link-dark">Home</a></li>
          <li><a href="#aboutus" class="nav-link px-2 link-dark">About Us</a></li>
          <li><a href="#publications" class="nav-link px-2 link-dark">Publications</a></li>
          <li><a href="#contact" class="nav-link px-2 link-dark">Contact Us</a></li>
          <li><a href="#news" class="nav-link px-2 link-dark">News</a></li>
        </ul>

      <% if signed_in? %>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag(current_user.profile_picture.attached? ? current_user.profile_picture : 'default_profile_picture.png', class: "rounded-circle", width: "45", height: "45" ) %>
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
            <li><a class="dropdown-item" href="#">My Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><%=link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
          </ul>

      <% else %>
        <%# <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></ul>
          <a href="" class="nav-link px-2 text-secondary">Home</a>  %>
        <div class="text-end">
            <%=link_to 'Log in', new_user_session_path, class: "btn btn-outline-dark me-2" %>
            <%=link_to 'Register', new_user_registration_path, class: "btn btn-outline-dark me-2"  %>  
        </div>
      <% end%>
        </div>
      </div>
    </div>
</nav>