/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 body {
    background-color: #f47b8f;
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
}

.masthead {
    background-color: #f8f9fa;
    padding-top: 9.5rem;
    padding-bottom: 5rem;
}

#home, #aboutus, #publications, #contact, #news {
    font-family: 'Satisfy', cursive;
}
.happydog {
    border-radius: 50px 20px;
}

.news-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.carousel-item {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.carousel-caption {
    color: black;
  }